//
// Component: Container
//
// ========================================================================


// Variables
// ========================================================================
.bg-texture {
    background-image: url("assets/shared/desktop/texture.png");
    background-repeat: no-repeat;
    border-radius: 8px;
}

// Miscellaneous
// ========================================================================

// @mixin hook-container-misc(){}