// 1. Your custom variables and variable overwrites.
@import './theme/variables.scss';
@import './theme/base.scss';

// elements
@import './theme/button.scss';

// layout
@import './theme/container.scss';
@import './theme/card.scss';

// Navs
@import './theme/nav.scss';

.hero-banner {
  background-image: url(../assets/plan/desktop/image-hero-blackcup.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 80px 40px;
  border-radius: 8px;
}

/* Phone landscape and smaller */
@media (max-width: $breakpoint-small) {
  .hero-banner {
    background-image: url(../assets/plan/mobile/image-hero-blackcup.jpg);
  }
}

/* Tablet landscape and smaller */
@media (max-width: $breakpoint-medium) {
  .hero-banner {
    background-image: url(../assets/plan/tablet/image-hero-blackcup.jpg);
  }
}

#orderSummary {
  border-radius: 8px;
  span {
    color: $dark-cyan;
  }
}
#modal-section {
  span {
    color: $dark-cyan;
  }
}

// 2. Import default variables and available mixins.
@import './scss/variables-theme.scss';
@import './scss/mixins-theme.scss';

// 3. Your custom mixin overwrites.

// 4. Import UIkit.
@import './scss/uikit-theme.scss';
